In [2]:
import pandas as pd
import seaborn as sns

In [33]:
df = sns.load_dataset("mpg")
df.shape

(398, 9)

In [7]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [8]:
df.sort_values('mpg') # 오름차순 default

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
...,...,...,...,...,...,...,...,...,...
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
247,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc

In [11]:
df.sort_values('mpg',ascending=False).head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)

In [ ]:
df.sort_values? # axis, ascending, inplace(정렬후 그대로 저장?)

In [13]:
df.rename(columns = {'model_year':'year'})

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [15]:
df.head() # 그냥 두면 바뀌지않아, 다시 df에 할당해라

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [40]:
df = df.rename(columns = {'model_year':'year'})

In [41]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [42]:
df.reset_index().head() # 인덱스가 없을 때 0부터 시작하는 인덱스 만들어줌

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [43]:
df.drop(columns=['mpg', 'year']).head() # 해당 columns 없앰

,cylinders,displacement,horsepower,weight,acceleration,origin,name
0,8,307.0,130.0,3504,12.0,usa,chevrolet chevelle malibu
1,8,350.0,165.0,3693,11.5,usa,buick skylark 320
2,8,318.0,150.0,3436,11.0,usa,plymouth satellite
3,8,304.0,150.0,3433,12.0,usa,amc rebel sst
4,8,302.0,140.0,3449,10.5,usa,ford torino

In [45]:
df.drop(columns=['mpg', 'year'], inplace=True)

In [48]:
df.head() # inplace : false이면 따로 지정하지 않으면 기존 데이터 안바뀜

,cylinders,displacement,horsepower,weight,acceleration,origin,name
0,8,307.0,130.0,3504,12.0,usa,chevrolet chevelle malibu
1,8,350.0,165.0,3693,11.5,usa,buick skylark 320
2,8,318.0,150.0,3436,11.0,usa,plymouth satellite
3,8,304.0,150.0,3433,12.0,usa,amc rebel sst
4,8,302.0,140.0,3449,10.5,usa,ford torino